body {
  background-color: #8f88a1;
  font-family: "Happy Monkey", cursive, sans-serif;
  text-align: center;
  color: #d1c7ca;
}

/*Text*/
h1,
h2,
h4 {
  text-shadow: 0 0 2px #575554;
}

/*Fonts*/
.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*Image*/

#emma-image {
  width: 300px;
  border-radius: 50%;
  border: 8px solid #c3c7be;
}
