body {
  background-color: #8f88a1;
  font-family: "Happy Monkey", cursive, sans-serif;
  text-align: center;
  color: #d1c7ca;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Text*/
h1,
h2,
h3,
h4,
p {
  text-shadow: 0 0 2px #575554;
}

#age {
  background-color: #797375;
  padding: 5px 8px;
  border-radius: 6px;
  margin: 20px 0 5px 0;
}

#date {
  background-color: #797375;
  padding: 5px 8px;
  border-radius: 6px;
  margin-top: 5px;
}

/*Fonts*/
.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*Image*/

#emma-image {
  width: 300px;
  border-radius: 50%;
  border: 8px solid #c3c7be;
}
